@import "header4all.css";
h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 20px;
    text-align: center;
    margin: 1em 10px;
}

.page-content a:hover {
    text-decoration: underline;
    color: indianred;
}

.page-content a {
    text-decoration: none;
    color: indianred;
}

@media (max-width: 860px) {
    .sidebar {
        height: auto;
        width: 50px;
        left: 0;
        margin: 90px 0;
    }
    h2,
    #button,
    #close {
        display: none;
    }
    span {
        position: absolute;
        margin-left: 20px;
        opacity: 0;
        visibility: hidden;
    }
    .sidebar a i {
        margin-left: -10px;
    }
    a:hover {
        width: 200px;
        background: inherit;
    }
    .sidebar a:hover span {
        opacity: 1;
        visibility: visible;
    }
}