html {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

body {
    height: 98vh;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 85%;
}

.userContact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contactForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#titleMessage {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    color: #283618;
    margin-left: 0.65em;
    height: 150px;
}

#inputText {
    display: flex;
    justify-content: center;
}

#inputText>input {
    font-size: 2em;
    color: #283618;
    margin: 1% 0;
    border: 1px solid #283618;
    border-radius: 1em;
    padding: 2% 3%;
    width: 50vw;
}

#inputMessage {
    display: flex;
    justify-content: center;
    width: 100%;
}

#inputMessage>textarea {
    width: 50vw;
    font-size: 2em;
    color: #283618;
    resize: none;
    margin: 1% 0;
    border: 1px solid #283618;
    border-radius: 1em;
    padding: 2% 3%;
}

.send-button {
    font-size: 1.5em;
    color: #283618;
    width: 15vw;
    resize: none;
    border: 1px solid #283618;
    border-radius: 1em;
    padding: 2% 3%;
    margin-left: 37%;
}

footer {
    margin-left: 0;
    width: 100%;
}

@media screen and (max-width: 1130px) {}